
.animated-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 1s box-shadow;
  }
  
  .animated-container:before,
  .animated-container:after {
    display: block;
    content: ""; 
    position: absolute;
    width: 24rem;
    height: 24rem;
    background: #fda8cf;
    border-radius: 9999px;
    z-index: -1;
    animation: 5s clockwise infinite;
  }
  
  .animated-container:after {
    background: #f3ce5e;
    animation: 6s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
  
    25% {
      top: 0;
      left: 5px;
    }
  
    50% {
      top: 5px;
      left: 0;
    }
  
    75% {
      top: 0;
      left: -5px;
    }
  
    100% {
      top: -5px;
      left: 0;
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
  
    25% {
      top: 0;
      right: 5px;
    }
  
    50% {
      top: 5px;
      right: 0;
    }
  
    75% {
      top: 0;
      right: -5px;
    }
  
    100% {
      top: -5px;
      right: 0;
    }
  }
  
